<section class="main-categories-sale s_block" id="{{ sectionId }}" section-id="{{ sectionId }}">
    <div class="sale-grid">
        <div class="category-item first-category">
            <a href="{{ settings.category_one_url }}" class="category-wrapper">
                <div class="category-image">
                    <img src="{{ image_url(settings.category_one_image, w=600, q=100) }}"
                        alt="{{ settings.category_one_title }}" loading="lazy" decoding="async" />
                </div>

                <div class="category-label">
                    <span>{{ settings.category_one_title }}</span>
                </div>
            </a>
        </div>

        <div class="sale-center-content">
            <div class="sale-inner-wrapper">
                <div class="sale-titles">
                    <h2>{{ settings.sale_offer_title1 }}</h2>
                    <h2>{{ settings.sale_offer_title2 }}</h2>
                    <h2>{{ settings.sale_offer_title3 }}</h2>
                </div>
                <p class="sale-subtitle">{{ settings.sale_offer_subtitle }}</p>
            </div>
        </div>

        <div class="category-item second-category">
            <a href="{{ settings.category_two_url }}" class="category-wrapper">
                <div class="category-image">
                    <img src="{{ image_url(settings.category_two_image, w=600, q=100) }}"
                        alt="{{ settings.category_two_title }}" loading="lazy" decoding="async" />
                </div>
                <div class="category-label">
                    <span>{{ settings.category_two_title }}</span>
                </div>
            </a>
        </div>
    </div>
</section>