<section class="masonry-gallery s_block" id="{{ sectionId }}" section-id="{{ sectionId }}">
    <div class="container-fluid">
        {% if settings.title %}
            <div class="view-all-header">
                <h2>{{ settings.title }}</h2>
            </div>
        {% endif %}

        <div class="masonry-wrapper">
            {% for item in safeget(settings, 'banners', []) %}
            <div class="masonry-item-container">
                <a href="{{ item.url | default('#') }}" class="gallery-item free-item">
                    {% if item.image %}
                        <img src="{{ image_url(item.image, w=600, f='auto') }}" alt="Gallery Item" loading="lazy">
                    {% endif %}
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
