{% extends "layout.jinja" %}


{% block header %} {% include 'header.jinja' %} {% endblock %}

{% block main_content %}

    <div class="home">
        {% template_components %}
    </div>

{% endblock %}

{% block footer %} {% include 'footer.jinja' %} {% endblock %}

{% block footer_scripts %}
    <script>
        $(window).on('resize', function() {
            var $initialized = $('.s-slider.slick-initialized');
            if ($initialized.length) $initialized.slick('resize');
        });
    </script>
{% endblock %}

